body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px 8px 8px 8px;
}

.title,
.content,
.button-container {
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 16px 10px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 6px 20px;
  margin: auto;
}